/Library/metadata
/Library/ScriptAssemblies
/Library/guidmapper
/Library/ScriptMapper
/Library/assetDatabase3
/Library/AssetServerCacheV3
/*.csproj
*.csproj
*.csproj
/*.csproj
/*.unityproj
/*.unityproj
/*.unityproj
/*.unityproj
/*.sln
/*.sln
/*.sln
/*.sln
/*.pidb
/*.pidb
/*.pidb
/*.pidb
